<h2>Login</h2>
<button [disabled]="isLoading$ | async" (click)="logInWithGoogle()">
  Login with Google
</button>
<br />
<br />
<form [formGroup]="loginForm" (ngSubmit)="logIn()">
  <div>
    <label for="email">Email: </label>
    <input type="email" formControlName="email" id="email" />
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" formControlName="password" id="password" />
  </div>
  <button type="submit" [disabled]="isSubmitButtonDisabled$ | async">
    Log in
  </button>
</form>
<br />
<br />
<a routerLink="../register">Go to Register</a>
