<article>
  <nav>
    <ul>
      <li>
        <h2>Login</h2>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="../register">Go to Register</a>
      </li>
    </ul>
  </nav>
  <section>
    <button [disabled]="isLoading$ | async" (click)="logInWithGoogle()">
      Login with Google
    </button>
  </section>
  <div class="divider">
    <small class="secondary">or with email</small>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <!-- Email -->
    <div>
      <label for="email">Email: </label>
      <input
        type="email"
        formControlName="email"
        id="email"
        [attr.aria-invalid]="emailControlStatus$ | async"
      />
      <app-form-errors-container [forControl]="loginForm.get('email')">
        <app-form-error-msg errorCode="required"></app-form-error-msg>
        <app-form-error-msg errorCode="email"></app-form-error-msg>
      </app-form-errors-container>
    </div>
    <!-- Password -->
    <div>
      <label for="password">Password: </label>
      <input
        type="password"
        formControlName="password"
        id="password"
        [attr.aria-invalid]="passwordControlStatus$ | async"
      />
      <app-form-errors-container [forControl]="loginForm.get('password')">
        <app-form-error-msg errorCode="required"></app-form-error-msg>
        <app-form-error-msg
          errorCode="passwordMustMatchValidFormat"
        ></app-form-error-msg>
      </app-form-errors-container>
    </div>
    <app-submit-button
      [parentFormGroup]="loginForm"
      (onSubmit)="logIn()"
      customClasses="secondary"
    >
      Log In
    </app-submit-button>
  </form>
  <p>
    Don't have an account yet? <a routerLink="../register">Create account</a>
  </p>
</article>
