<nav>
  <ul>
    <li>
      <h2>Profile</h2>
    </li>
  </ul>
  <ul>
    <li>
      <a routerLink="/">Go to Home</a>
    </li>
  </ul>
</nav>
<article>
  <form [formGroup]="passwordChangeForm" (ngSubmit)="onChangePassword()">
    <h3>Change Password</h3>
    <!-- New Password -->
    <div>
      <label for="newPassword">New Password</label>
      <input
        type="text"
        formControlName="newPassword"
        id="newPassword"
        [attr.aria-invalid]="newPasswordControlStatus$ | async"
      />
      <app-form-errors-container
        [forControl]="passwordChangeForm.get('newPassword')"
      >
        <app-form-error-msg data-error-code="required"></app-form-error-msg>
        <app-form-error-msg
          data-error-code="passwordMustMatchValidFormat"
        ></app-form-error-msg>
      </app-form-errors-container>
    </div>
    <!-- Confirm Password-->
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="text"
        formControlName="confirmPassword"
        id="confirmPassword"
        [attr.aria-invalid]="confirmPasswordControlStatus$ | async"
      />
      <app-form-errors-container
        [forControl]="passwordChangeForm.get('confirmPassword')"
      >
        <app-form-error-msg data-error-code="required"></app-form-error-msg>
        <app-form-error-msg
          data-error-code="passwordMustMatchValidFormat"
        ></app-form-error-msg>
      </app-form-errors-container>
    </div>
    <!-- Submit -->
    <app-submit-button [parentFormGroup]="passwordChangeForm">
      Change password
    </app-submit-button>
  </form>
</article>
