<article>
  <nav>
    <ul>
      <li>
        <h2>Register</h2>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="../login">Go to Login</a>
      </li>
    </ul>
  </nav>
  <section>
    <button [disabled]="isLoading$ | async" (click)="registerWithGoogle()">
      Register with Google
    </button>
  </section>
  <div class="divider">
    <small class="secondary">or with email</small>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <label for="name">Full name: </label>
      <input type="name" formControlName="fullName" id="name" />
      <span>Full name Errors</span>
      <pre>{{ fullNameControl.errors | json }}</pre>
    </div>
    <div>
      <label for="email">Email: </label>
      <input type="email" formControlName="email" id="email" />
      <span>Email Errors</span>
      <pre>{{ emailControl.errors | json }}</pre>
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="text" formControlName="password" id="password" />
      <span>Password Errors</span>
      <pre>{{ passwordControl.errors | json }}</pre>
    </div>
    <app-submit-button
      [parentFormGroup]="registerForm"
      (onSubmit)="register()"
      customClasses="secondary"
    >
      Register
    </app-submit-button>
  </form>
  <p><strong>Form Errors</strong></p>
  <pre>{{ registerForm.errors | json }}</pre>
</article>
